* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --error-color:red;
    --success-color:green;

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.normal-input.success input{
border-color: var(--success-color);
}

.normal-input.error input{
border-color: var(--error-color);
}

.normal-input input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.normal-input small {
    color: var(--error-color);
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    visibility: hidden;
}
.normal-input.error small {
    visibility: visible;
}
h2 {
    text-align: center;
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.normal-input {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: royalblue;
}
